name: Deploy Documentation
on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies
        # 添加了 mkdocstrings[python] 以满足插件需求
        run: |
          pip install mkdocs-material 
          pip install mkdocs-mermaid2-plugin 
          pip install pymdown-extensions
          pip install mkdocstrings[python]

      - name: Build and Deploy
        run: mkdocs gh-deploy --force